textarea:focus,
input:focus {
  outline: none;
}
.app {
  min-height: 100vh;
  padding: 30px;
  background-color: #d95e5e;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}

h1 {
  padding: 10px;
  max-width: 500px;
  text-align: center;
  border-radius: 10px;
  background: #e8e8e8;
  margin: 60px auto 20px;
  box-shadow: 6px 6px 14px #b44e4e, -8px -8px 18px #fe6e6e;
}
.todo-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 30px;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 10px;
  background: #e8e8e8;
  box-shadow: 6px 6px 14px #b44e4e, -8px -8px 18px #fe6e6e;
}

.todo {
  padding: 0.8rem;
  font-size: 1.1rem;
  border-radius: 10px;
  background: #e8e8e8;
  box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.09);
  overflow-wrap: break-word;
}

.input {
  width: calc(100% - 2rem);
  padding: 0.8rem 1rem;
  border-radius: 10px;
  background: #fffcfc;
  border: #d95e5e73 1px solid;
  font-family: 'Courier New', Courier, monospace;
}

button {
  background: inherit;
  border: none;
  cursor: pointer;
}
