.app {
  height: 100vh;
  padding: 30px;
  background-color: #d95e5e;
}

.todo-list {
  padding: 30px;
  max-width: 450px;
  margin: 10vh auto;
  border-radius: 10px;
  border-radius: 10px;
  background: #e8e8e8;
  box-shadow: 6px 6px 14px #b44e4e, -8px -8px 18px #fe6e6e;
}

.todo {
  width: 80%;
  padding: 0.8rem;
  margin: 1rem auto;
  font-size: 1.1rem;
  border-radius: 10px;
  background: #e8e8e8;
  text-align: center !important;
  box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.09);
}
